<!doctype html>

<head>
  <title>TCS Fault Tolerance System</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    body {
      font-family: 'Open Sans', 'Roboto', sans-serif;
    }

    .angular-initial-hide {
      display: none;
    }

  </style>
</head>

<body class="bg-light">
  <div class="container py-4 angular-initial-hide" ng-app="tcs-fault-tolerance-system" ng-controller="app-controller">

    <h1 class="h2 text-center py-4">
      TCS Fault Tolerance System
    </h1>

    <div class="col-lg-6 mx-auto py-2">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" ng-model="var.model.name" required>
    </div>

    <div class="col-lg-6 mx-auto py-2">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" ng-model="var.model.description"></textarea>
    </div>

    <div class="col-lg-6 mx-auto py-2">
      <div class="py-2" ng-show="var.selectedFiles.length < const.maxFileLimit">
        <label for="file-upload-control">Upload</label>
        <div class="custom-file input-group">
          <input id="file-upload-control" class="custom-file-input" type="file" multiple accept=".pdf,.doc,.docx,.xls,.xlsx,.csv,.jpg,.jpeg,.png,.bmp,.tif,.tiff" onchange="angular.element(this).scope().event.getFileDetails(this)" />
          <label class="custom-file-label" for="file-upload-control">Choose file</label>
        </div>
      </div>
      <table class="table table-responsive-sm table-striped table-hover" ng-show="var.selectedFiles.length > 0">
        <thead>
          <tr>
            <th>File Name</th>
            <th>Size</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="file in var.selectedFiles track by $index">
            <td>{{file.name}} ({{file.type}})</td>
            <td>
              {{format.fileSize(file.size)}}
            </td>
            <td class="text-center">
              <button class="btn px-2 py-0 btn-danger" ng-click="event.removeFile(file)">
                <span class="h4">&times;</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center text-danger">
        <small>Maximum {{const.maxFileLimit}} files allowed to upload</small>
      </div>
    </div>

    <div class="col-md-3 mx-auto py-md-4 py-3">
      <div class="text-center">
        <button class="btn btn-primary btn-block" ng-click="event.submit()">
          Submit
        </button>
      </div>
    </div>

    <div class="col-md-6 mx-auto py-md-4 py-3">
      <samp>
        <div>submitting = {{state.submitting}}</div>
        <div>reconnecting = {{state.reconnecting}}</div>
        <div>reuploading = {{state.reuploading}}</div>
        <div>files uploaded = {{var.uploadSuccessCount}}/{{var.selectedFiles.length}}</div>
        <div ng-repeat="file in var.selectedFiles track by $index" ng-show="file.progress > 0 && file.progress < 100">
          {{file.name}}
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{file.progress}}%">
              {{file.progress}}%
            </div>
          </div>
        </div>
      </samp>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="app.js" type="text/javascript"></script>
</body>

</html>
